
h1{
    color:aquamarine;
    
} 
body {
    color:beige;
    background-color:black;
}
h2{
    font-size: 50px;
}
p{
    font-size: 20px;
}
.header{
    text-align: center;
}
.home{

}
.about-us{

}
.courses{

}
.contact{

}
    