h1{
    font-size:120px;
    color:rgb(136, 6, 136);
    text-align: center;
    
 }
 strong{
     font-size: 40px;
     color:purple;
     margin:opx auto;
 }
nav{
    font-weight:bolder;
    
}
img{
    width:300px;
    margin:10px;
    border-radius: 15px;
}
body{
    background-color:pink;
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:blueviolet;
    text-shadow: 3px rgb(117, 11, 216);
    font-size: 30px;
}
a{
    text-decoration: none;
    color:rgb(25, 4, 54);
    font-size: 30px;
}
a:hover{
    color:purple;

}
